h1 {
    color: 79F41F;
    text-align: center;
}
h3 {
    color:4F8229;
    text-align: center;
}
p {
    font-family:Georgia, 'Times New Roman', Times, serif;
}
ul {
    line-height: 40px;
}
a:link {
    color: red;
  }
a:visited {
    color: green;
  }
a:hover {
    color: hotpink;
  }
a:active {
    color: blue;
  }
#index-body-container {
    background-color:F9FBF8;
}
.intro {
    font-style: italic;
}
.details {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 70%;
}
.important {
    color:aquamarine;
}
img {
    float: left;
    margin-right: 10px;
    border: 2px solid rgb(6, 238, 87);
    border-radius: 50%;
}
.columns {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 70%;
    padding-bottom: 10px;
}
.desc {
    padding: 15px;
    text-align: center;
  }