h1 {
    color: 79F41F;
    text-align: center;
}
h3 {
    color:4F8229;
    text-align: center;
}
p {
    font-family:Georgia, 'Times New Roman', Times, serif;
}
ul {
    line-height: 40px;
}
a {
    color: cyan;
    text-align: left;
}
#index-body-container {
    background-color: ivory;
}
.intro {
    font-style: italic;
}