h1 {
    color: 79F41F;
    text-align: center;
}
h3 {
    color:4F8229;
    text-align: center;
}
p {
    font-family:Georgia, 'Times New Roman', Times, serif;
}
ul {
    line-height: 40px;
}
a {
    color: cyan;
    text-align: left;
}
#index-body-container {
    background-color: ivory;
}
.intro {
    font-style: italic;
}
.details {
    color: 2E6107;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    float:right;
}
.important {
    color:aquamarine;
}
img {
    float: left;
    margin-right: 10px;
    border: 2px solid red;
}
.columns {

}